<%- include('layout/header') %>
<div class="about-container">
  <h2>About US</h2>
  <p class="paragraph">The objective of this study was to examine and evaluate 
      the attitude and knowledge of patrons and caregivers with respect to 
      reconstitution of antibiotic dry powders and the appropriateness or adequacy of the instructions given for the reconstitution of these dry powders for use by pediatric patients in Rivers state, Nigeria not excluding their reconstitution, dose administration, duration, and storage conditions. Problems associated with administration of antibiotic suspensions by caregivers such as reconstitution, dose administration, 
      duration and storage conditions will also be evaluated.</p>

    </div>


<%- include('layout/footer') %>